@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
.colors{
    color: hsl(322, 100%, 66%);
    color: hsl(321, 100%, 78%);
    color: hsl(0, 100%, 63%);
    color: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
}
body{
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 3rem;
}
header .btn{
    background-color: transparent;
    outline: none;
    border: 2px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
}
header .logo{
    cursor: pointer;
    width: 10rem;
}
main{
    margin: 4rem 3rem;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10rem 5rem 0; 
}
section h1{
    font-family: 'Poppins';
    color: hsl(192, 100%, 9%);
    font-size: 3em;
}
section p{
    width: 50%;
    color: hsl(192, 100%, 9%);
    margin-top: 1.5rem;
    font-size: 1.4em;
}
section .btn-1{
    background-color: hsl(322, 100%, 66%);
    outline: none;
    border: none;
    margin-top: 2.5rem;
    padding: 1.2rem 1.5rem;
    width: 18rem;
    font-weight: 600;
    color: #fff;
    border-radius: 3rem;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(121, 121, 121, 0.644);
}
section img{
    margin-top: 5rem;
    width:90%;
    height: auto;
}
.grid{
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4,20rem);
    row-gap: 10rem;
}
.grid div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.one strong,.two strong{
    display: block;
    font-size: 4em;
    color: hsl(192, 100%, 9%);
}
.four img,.five img,.eight img{
    width: 70%;
}
.grid div p{
    color:hsl(192, 100%, 9%)
}
.one p,.two p{
    color: hsla(0, 0%, 50%, 0.877)  !important;
}
.one img,.two img{
    width: 2rem;
    transform: translateX(-4.5rem);
}
.grid div h2{
    font-family: 'Poppins';
    color: hsl(192, 100%, 9%);
    font-size: 2em;
    align-self: flex-start;
    margin-bottom: 1.5rem;
}

/* ---------------- MEDIA QUERIES -------------------- */
@media only screen and (max-width: 1024px){
    section p{
        width: 70%;
    }
}
@media only screen and (max-width: 750px) {
    section{
        margin-left: 0;
        margin-right: 0;
    }
    section p{
        width: 100%;
    }
    .grid{
        display: grid;
        margin-top: 5rem;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8,20rem);
        row-gap: 10rem; 
        text-align: center;
    } 
    .grid div h2{
        align-self: center;
    }
    .one{
        order: 1;
    }
    .two{
        order: 2;
    }
    .three{
        order: 4;
    } 
    .five{
        order: 5;
    }
    .four{
        order:3;
    }
    .six{
        order: 6;
    }
    .seven{
        order: 8;
    }
    .eight{
        order: 7;
    }
    .grid div p{
        font-size: 1.2em;
    }
}